RESEND_API_KEY=re_xxx
LEAD_INBOX_TO=shane@kismetfinancegroup.com.au
LEAD_INBOX_FROM=hello@kismetfinancegroup.com.au

GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=

NEXT_PUBLIC_BOOKING_URL=
